*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --main-white :#fffee5;
  --main-blue: #01042b;
  --main-gray: #000000;
  --main-red: rgb(106, 0, 12);
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
  color:  rgb(20, 30, 40);
  background-color:  linen;
}

h1 {
  font-family: 'Anton', sans-serif;
}

h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 35);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  row-gap: 3rem;
}

p {
  margin-top: 10px;
}

img {
  width: 100%;
  object-fit: cover;
}

hr {
  border: 1px solid rgba(120, 120, 120, 0.6);
}

.heading {
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 1.5rem;
}

.text {
  grid-column: 2 / 3;
  font-size: 2.5rem;
  letter-spacing: 0.6px;
  text-align: justify;
  margin: 0 10%;
}

.video-preview {
  height: 70vh; 
}


.other-post {
  text-align: start;
  vertical-align: middle;
  
}

.a {
  margin: 10%;
}

.a:hover {
  color: goldenrod;
}

.rita-video {
  margin: 2% 10%;
  align-items: center;
}

.instagram-media {
  align-items: center;
}

.hero {
  grid-column: 1 / -1;
  position: relative;
  margin: 0 5%;
  text-align: start;
}

.hero-title {
  text-align: center;
  color: rgb(0, 0, 35);
  font-size: 3rem;
  margin-top: 10%;
}

.hero-subtitle {
  font-size: 2.4rem;
  color: rgb(0, 0, 35);
  text-align: center;
}

.section-header {
  font-size: 2.4rem;
  margin-bottom: 20px;
}
.author {
  font-size: 2rem;
  font-family: "Raleway", sans-serif;
}

.author-name a:hover {
  background-color: #7a5c02;
}

.publish-date {
  color: rgba(120, 120, 120, 0.6);
  margin-top: 5px;
}



i {
  transition: transform 0.6s ease-out;
  margin: 0px;
}

i:hover {
  transform: translateY(8px);
  transition: transform 0.3s ease-out;
}

.first-paragraph::first-letter {
  font-size: 6rem;
  color: rgb(0, 0, 35);
  float: left;
  margin-top: -20px;
  margin-right: 1rem;
}

.quote {
  color: #00beef;
  font-size: 2.4rem;
  text-align: center;
  font-family: "Raleway", sans-serif;
}

.quote::before {
  content: '" ';
}

.quote::after {
  content: ' "';
}

.text-with-images {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 3rem;
  margin-bottom: 3rem;
}


.lists li {
  margin-bottom: 1.5rem;
}

.list-title, .list-subtitle {
  color: #00beef;
}

.image-wrapper {
  display: grid;
  grid-template-rows: repeat(3, min-content);
  gap: 2rem;
  place-items: center;
  padding-right: 10%;
  width: 100%;
  margin-top: 5%;
  align-items: center;
}


@media only screen and (max-width: 720px) {
  .image-wrapper {
    grid-template-columns: 1fr;
  }
}


@media only screen and (max-width: 550px) {
  .hero-title {
    font-size: 2rem;
  }
  
  .hero-subtitle,
  .author,
  .quote,
  .list-title {
    font-size: 1.8rem;
  }
  
}

@media only screen and (max-width: 420px) {
  .hero-title {
    font-size: 4.5rem;
  }
}


.wrapper {
  background: linear-gradient(40deg, rgb(45, 241, 255), rgb(0, 0, 35), #0ef);
  background-color: rgb(0, 0, 35);
  text-align: center;
  line-height: 250px;
  height: 50vh;
}
.logo {
  font-family: 'Times New Roman';
  font-size: 90px;
  font-weight: bold;
  color: rgb(240, 172, 0);
  transform: rotateY(90deg);
  width: 100%;
}

.lady {
  font-size: 2.4rem;
  text-align: center;
  margin: auto 5%;
}


.d {
  margin-right: -22px;
  font-size: 170px;
}


/* CONTACT SECTION */

.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 35vh;
  padding: 0 2rem;
  margin: -20px 0;
  background: var(--main-gray);
}

.contact-section-header > h2 {
  font-size: 4.5rem;
  margin-top: 10%;
  color: linen;
  margin-top: 0;
}

@media (max-width: 460px) {
  .contact-section-header > h2 {
    font-size: 4rem;
  }
}

.contact-section-header > p {
  font-style: italic;
  font-size: 2.4rem;
  color: linen;
}

.contact-links {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  max-width: 980px;
  margin-top: 2rem;
  flex-wrap: wrap;
}

.contact-details {
  transition: transform 0.6s ease-out;
  margin: 0px;
}

.contact-details:hover {
  transform: translateY(8px);
  transition: transform 0.3s ease-out;
}

.social-icon {
  width: 38px;
  margin-top: 1rem;
  margin: 0px;
  align-items: center;
}

.facebook {
  width: 60px;
  border-radius: 16px;
}

.instagram {
  width: 55px;
  border-radius: 15px;
}

.github {
  width: 30px;
}

.whatsapp {
  width: 30px;
}

.email {
  width: 32px;
  border-radius: 12px;
}


footer {
  font-weight: 300;
  display: flex;
  justify-content: space-evenly;
  padding: 2rem;
  background: rgb(0, 0, 20);
  color: linen;
  border-top: 4px solid goldenrod;
  font-size: 1.8rem;
}

footer > p {
  margin: 2rem;
}

footer i {
  vertical-align: middle;
}

@media (max-width: 460px) {
  footer {
    flex-direction: column;
    text-align: center;
  }
}
